*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container{
    padding: 0;
    margin: 0;  
    background:url("background.jpeg");
    background-size: cover;
    background-size:cover;
    border: 1px solid black;
    width:inherit;
    height: 99vh;
    border: 1px solid white;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height:inherit;
    /* border: 1px solid black; */
    /* border: 2px solid green; */
}

#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2.2rem;
    /* border: 2px solid red; */
}

.heading-text{
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.6rem;
    font-family: 'Courier New', Courier, monospace;
}

/* #icon{
 
} */

.iconImg{
    width: 4rem;
    height: 4   rem;
}